@charset "UTF-8";

/* line 3, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
body {
    font-family: 'Oswald', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 100;
    overflow-x: hidden;
}

/* line 12, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
.ham {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* line 84, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.ham_line {
    position: absolute;
    background-color: #ffffff;
    left: 20px;
    width: 35px;
    height: 1px;
    transition: all 0.3s;
}

/* line 93, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.ham_line1 {
    top: 25px;
}

/* line 97, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.ham_line2 {
    top: 35px;
}

/* line 101, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.ham_line3 {
    top: 45px;
}

/* line 105, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.clicked .ham_line1 {
    transform: rotate(45deg);
    top: 35px;
}

/* line 110, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.clicked .ham_line2 {
    width: 0px;
}

/* line 114, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.clicked .ham_line3 {
    transform: rotate(-45deg);
    top: 35px;
}

/* line 119, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
    z-index: 10003;
    text-align: center;
}

/* line 130, /Users/allmarket-design2/Desktop/コーポレートサイト2020/top/top/css/css.scss */
.clicked .menu {
    top: 70px;
    padding-top: 80px;
}

/* line 70, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
.menu ul {
    list-style-type: none;
    max-width: 90%;
    margin: auto;
    padding: 0;
}

/* line 77, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
.menu ul li {
    height: 120px;
    padding-left: 0px;
    border-top: solid 1px #ffffff;
}

/* line 83, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
.menu ul li:nth-child(6) {
    border-bottom: solid 1px #ffffff;
}

/* line 87, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
.menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 120px;
}

/* line 96, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
.menu ul li a:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
}

/* line 107, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
header .header--wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10004;
}

/* line 118, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
header .header--wrapper h1 {
    padding-left: 20px;
}

/* line 121, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
header .header--wrapper h1 img {
    max-width: 250px;
    width: 100%;
    margin: 0;
}

/* line 133, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper {
    max-height: 6200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /*---------------------------------------------*/
    /*---------------------------------------------*/
    /*---------------モーダルウィンドウ---------------*/
    /*---------------------------------------------*/
    /*---------------------------------------------*/
}

/* line 138, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .heading--box {
    margin: 0 auto;
    margin-top: 220px;
    margin-bottom: 130px;
    text-align: center;
}

/* line 146, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .heading--box .heading--box {}


.inbox--text__p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.075em;
    margin-bottom: 20px;
}


.inbox--text__h2 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.15em;
}

/* line 173, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .items--box {
    text-align: left;
}

/* line 177, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .items--box .items--inbox__top {
    margin-left: 120px;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.15em;
}



/* line 189, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .items--box .items--inbox__bottom {
    margin-bottom: 85px;

}

/* line 194, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .items--box .items--inbox__bottom .items--inbox__number {
    font-size: 110px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/* line 206, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .multiple--heading__top {}

.items--inbox__p {
    font-size: 23px;
    letter-spacing: 0.15em;

}

/* line 209, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .multiple--heading__top .heading__jp {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 0.075em;
}

/* line 217, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .multiple--heading__bottom {
    margin-bottom: 50px;
}

/* line 220, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .multiple--heading__bottom .heading__en {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #CCCCCC;
}

.multiple {}

/* line 232, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .ul--list {
    max-width: 590px;
    margin-bottom: 150px;

}

/* line 243, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .ul--list .li--list {
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-content: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.1em;
}

/* line 250, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .multiple .ul--list .li--list .number {
    width: 120px;

}

.number--text {}

/* line 268, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .container {
    max-width: 1200px;
}

/* line 271, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .container .modal--link {
    flex-grow: 1;
}

/* line 274, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal--link a {
    text-decoration: none;
    color: #333;
}

/* line 280, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .container .modal--link:hover {
    opacity: 0.6;
}

/* line 285, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .brand {
    margin-bottom: 200px;
    position: relative;
}

/* line 290, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .brand_box {
    width: 280px;
}

/* line 298, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .b_link:hover {
    opacity: 0.6;
}

/* line 307, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center;
}

/* line 318, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

/* line 324, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}

/* line 330, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -0.5em;
    vertical-align: middle;
    content: "";
}

/* line 338, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper .modal-window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    vertical-align: middle;
    padding: 20px;
    width: 70vw;

}

/* line 352, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper .modal-window .modal-content {


    display: flex;
    justify-content: space-between;
}

.modal-window {}

.modal-window .modal-content {
    margin: 40px;

}

.modal-window .modal--inbox__left {
    width: 48%;
}

.modal-window .modal--left__img {
    background: #F4F4F4;
    margin-bottom: 30px;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.modal-window img {
    max-width: 100%;
    height: auto;
}

.border {
    display: flex;
}

.border .border--left {}

.modal-window .modal--left__text {
    padding-left: 30px;
    text-align: left;
    border-left: solid 2px #333;
}

.modal-window .modal--left__name {

    font-size: 60px;
    letter-spacing: 0.15em;
    font-weight: 700;

}

.modal-window .modal--left__price {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.1px;
    font-weight: 400;
    margin-top: 25px;
}


.modal-window .modal--inbox__right {
    width: 48%;
}

.table {}

.table .detail {
    padding: 20px;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px #333;
    width: 100%;

}

.table .detail--th {
    background-color: #ccc;
    font-weight: 400;
    padding: 10px;
}


.table .detail tr td {
    text-align: left;
    padding: 10px;
    border: solid 1px #333;
    line-height: 1.75;
    letter-spacing: 0.075em;
}


/* line 380, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper .modal-window .modal-content img {
    margin: auto;
    max-height: 100%;
}


/* line 384, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper a:hover {
    opacity: 1;
}

/* line 388, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-overlay {
    z-index: 10;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

/* line 399, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper .modal-close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    color: #95979c !important;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}

/* line 413, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper img.p75 {
    padding-bottom: 75px;
}

/* line 417, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper img.p36 {
    padding-bottom: 36px;
}

/* line 421, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper img.p40 {
    padding-bottom: 40px;
}

/* line 425, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper img.p10 {
    padding-bottom: 10px;
}

/* line 429, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper .modal-wrapper .modal-close:hover {
    color: #2b2e38 !important;
}

/* line 433, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer {
    margin: 0 calc(50% - 50vw);
    padding: 0 40px;
    background-color: #333;
    height: 260px;
    position: relative;
}

/* line 441, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer .footer--box {
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* line 449, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer .footer--box__logo img {
    max-width: 250px;
}

/* line 456, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer ul {
    list-style-type: none;
    display: flex;
    margin: 0 -20px;
    padding-left: 0;
}

/* line 462, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer li {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-right: solid 1px #ffffff;
}

/* line 470, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer li a {
    text-decoration: none;
    color: #fff;
}

/* line 475, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer li p {
    display: inline;
}

/* line 480, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer li:hover {
    opacity: 0.6;
}

/* line 484, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer li:nth-child(7) {
    border-right: none;
}

/* line 488, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer .copyright {
    color: #fff;
    font-size: 11px;
    letter-spacing: 0.05em;
    position: absolute;
    right: 40px;
    bottom: 0;
    margin-bottom: 25px;
}

/* line 497, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
main article #wrapper footer .copyright p {
    text-align: center;
}

@media screen and (max-width: 1400px) {
    main article #wrapper .modal-wrapper .modal-window .modal-content {
        display: block;

    }

    header .header--wrapper h1 img {
        max-width: 150px;
    }

    .menu ul li {
        height: 60px;
    }

    .menu ul li a {
        line-height: 60px;
        font-size: 12px;
    }

    #wrapper {

        max-width: 1400px;
        margin: 0 auto;
    }

    main article #wrapper .heading--box {
        margin-top: 110px;
        margin-bottom: 65px;
    }

    #wrapper .inbox--text__top {}

    #wrapper .inbox--text__p {
        font-size: 14px;
        font-weight: 200px;
        letter-spacing: 0.15em;
    }

    #wrapper .inbox--text__bottom {}

    #wrapper .inbox--text__h2 {
        font-size: 30px;
        font-weight: 350px;
        letter-spacing: 0.15em;
    }

    .items--box {}

    .items--box .items--inbox__top {}

    .items--box .items--inbox__p {
        font-size: 11.5px;
        font-weight: 350px;
        letter-spacing: 0.15em;
    }

    main article #wrapper .items--box .items--inbox__top {
        margin-left: 60px;
    }

    main article #wrapper .items--box .items--inbox__bottom {
        margin-bottom: 40px;
    }

    main article #wrapper .items--box .items--inbox__bottom .items--inbox__number {
        font-size: 55px;
        font-weight: 350px;
        letter-spacing: 0.1em;
    }

    .multiple {}

    .multiple--heading__top {}

    main article #wrapper .multiple .multiple--heading__top .heading__jp {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 10px;
    }

    .multiple--heading__bottom {}

    main article #wrapper .multiple .multiple--heading__bottom .heading__en {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.15em;
        padding-left: 3px;
        ;
    }

    .ul--list {}

    .ul--list .modal--link {}

    .ul--list .modal--link.ul--list .b_link {}

    .ul--list .li--list {}

    .ul--list .number {
        font-size: 11px;
        font-weight: 200px;
        letter-spacing: 0.15em;
    }

    .ul--list .number--text {
        font-size: 11px;
        font-weight: 200px;
        letter-spacing: 0.15em;
    }



    .modal- .ul--list #modal-1 {}

    main article #wrapper .modal-overlay {
        height: 200vh;
    }

    main article #wrapper .modal-wrapper .modal-window {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .modal-wrapper {
        overflow: scroll;
    }



    .ul--list .modal-content {

        margin: 0
    }

    .ul--list .modal-window .modal-content {}

    .ul--list .modal--inbox__left {
        width: 100%;
        margin-right: 0px;
    }

    .ul--list .modal--left__img {
        margin-top: 30px;
        background: #F4F4F4;
        margin-bottom: 20px;

    }

    .ul--list img {
        max-width: 100%;
        height: auto;

    }

    .ul--list .border {
        max-width: 1400px;
        margin: 0 auto;
    }

    .ul--list .border--left {}

    .ul--list .modal--left__text {
        margin-bottom: 40px;
    }

    .ul--list .modal--left__name {
        font-size: 25px;
        font-weight: 350px;
        letter-spacing: 0.15em;

    }

    .ul--list .modal--left__price {
        font-size: 10px;
        font-weight: 200px;
        letter-spacing: 0.15em;


    }

    .ul--list br {}

    .ul--list .modal--inbox__right {
        width: 100%;
    }


    .ul--list .table {}

    .ul--list .detail {}

    .ul--list tbody {}

    .ul--list .detail--tr {}

    .ul--list .detail--th {}

    .ul--list .detaol--td {}

    .ul--list .modal-close {}

    /* line 521, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    main article #wrapper footer {
        height: 100px;
    }

    /* line 524, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    #wrapper footer .footer--box {
        padding-top: 37px;
    }

    /* line 527, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    #wrapper footer .footer--box .footer--box__logo {
        margin: auto;
    }

    /* line 530, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    #wrapper footer .footer--box .footer--box__logo img {
        max-width: 150px;
    }

    /* line 536, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    #wrapper footer .footer--box__nav {
        display: none;
    }

    /* line 540, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    main article #wrapper footer .copyright {
        right: 0;
        left: 0;
        margin: auto;
        margin-bottom: 20px;
    }

    /* line 546, /Users/allmarket-design/Desktop/下鳥/2020/product/css/style.scss */
    #wrapper footer .copyright p {
        font-size: 8px;
    }

}
